* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: hsl(148, 38%, 91%);
    --secondary: hsl(169, 82%, 27%);
    --third: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(187, 24%, 22%);
}

body {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form {
    padding: 23px;
    width: 33%;
    height:auto;
    background-color: var(--white);
    font-family: "Karla", sans-serif;
    border-radius: 10px;
    font-size: 13px;
    color: var(--grey);
}

h1 {
    font-weight: 700;
    font-size: 16px;
    color: var(--grey);
}

.name-wrapper {
    display: flex;
    gap: 20px;
}


.name-wrapper{
    margin-top:20px;
    
}

.parent-radio {
    display: flex;
    
     gap: 20px;
    margin: 10px 0; 
}
.parent-radio input{
   width:50px;
   
    
}

.radio {
    display: inline-flex;
    font-size: 14px;
    width:200px;
    color: var(--grey);
    border: 1px solid var(--secondary);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    
}
.field{
    margin-top:10px;
}
.name-field input{
    width:180px;
    height:23px;
}
.email-field input{
    width:390px;
    height:23px;
}
.message-field textarea{
    width:400px;
    height:80px;
    margin:10px 0px 30px 0px;
}
.consent{
    margin-bottom:20px;
}
.button{
    width:400px;
    text-align: center;
    padding:7px;
    font-weight: 500;
    color:var(--white);
    background-color: var(--secondary);
    border: none;
    border-radius:5px;
}